/*
 * All button styles were adapted from:
 * - https://codepen.io/chandrashekhar/pen/ypvdRR?editors=1100
 * - https://codepen.io/0guzhan/pen/xJLKRo
 * - https://codepen.io/CiTA/pen/YBQjVQ
 */
 
$mediaBreakLargeMax: 1400px;
$mediaBreakLargeMin: 1023px;
$mediaBreakMediumMax: 1024px;
$mediaBreakMediumMin: 769px;
$mediaBreakSmallMax: 768px;

$time-slow: 500ms;
$time-fast: 300ms;
$border-radius: 5px;

.btn-gradientTransistion-before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: all $time-slow ease-out;
	z-index: -1;
}
.btn-large-smallScreen {
	font-size: 18px;
	line-height: 22px;
	padding: 8px 15px;
}
	.btn-large-largeScreen {
		font-size: 20px;
		line-height: 30px;
		padding: 10px 25px;
	}
.btn-small-smallScreen {
	font-size: 14px;
	line-height: 18px;
	padding: 6px 10px;
}
	.btn-small-largeScreen {
		font-size: 16px;
		line-height: 20px;
		padding: 8px 15px;
	}


.download-btn, .link-btn {
	position: relative;
	z-index: 10;
	display: flex;
	justify-content: flex-end;
	flex-direction: row-reverse;
	> button, li a {
		transition: all $time-fast;
	    text-align: center;
	    border-radius: $border-radius;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 1;
		border: 0;
	}
	ul {
		list-style-type:none;
		padding:0;
		margin:0;
		display: inline-block;
		li {
			z-index: -1;
			padding: 0 2px;
			border-radius: $border-radius;
			overflow: hidden;
			a {
				display: flex;
			}
		}
	}
	&:hover, &:focus, &:active {
		cursor: pointer;
	}
}


.download-btn {
	> button, li a { 
		@extend .btn-large-smallScreen;
		color: white;
		&:before {
			@extend .btn-gradientTransistion-before;
			background-color: #C3407C;
			background-image: linear-gradient(to left, #C3407C 30%, #6D56B8 70%);
			transform: scale(4) translateX(37%);
		}
	}
	ul {
		li {
			transition: all ease-in-out 0.5s;
			opacity: 0;
			width: 0;
			height: 0;
			margin-right: -50px;
			a {
				background: #C3407C;
				&:hover, &:focus, &:active { 
					background: #A22550;
				}
				span {
					margin-right: 10px;
					color: white;
				}
			}
		}
		@for $i from 1 through 4 {
    		li:nth-child(#{$i}) {
        		transform:rotateX(#{$i*45}deg);
	    	}
    	}
	}
	&:hover, &:focus, &:active {
		> button {
			&:before {
				background-color: #6D56B8;
				transform: scale(4) translateX(-37%);
			} 
		}
		ul {
			@for $i from 1 through 5 {
	    		li:nth-child(#{$i}) {
					transition-delay: #{$i*0.08}s;
	        		opacity: 1;
					width: auto;
					height: auto;
					margin-right: 0;
					transform: rotate(0deg);
	        	}
			}
    	}
	}
}

.link-btn {
	a {
		color: #C3407C;
		border: 2px solid #C3407C;
		&:before {
			@extend .btn-gradientTransistion-before;
			opacity: 0;
			background-color: #C3407C;
			background: linear-gradient(45deg, #C3407C 0%, #A22550 33%, 
			#C3407C 43%, #A22550 50%, #C3407C 57%,
			#A22550 67%, #C3407C 100%);
			transform: scale(3) translateX(-33%) translateY(33%);
		}
		&:hover, &:focus, &:active { 
			text-decoration: none;
			
			&:before {
				opacity: 1;
				background-color: #A22550;
				transform: scale(3) translateX(33%) translateY(-33%);
			} 
		}
		span {
			margin-left: 10px;
		}
	}
}

@media (min-width: $mediaBreakMediumMin) {
	.download-btn, .link-btn {
		> button, li a {
			font-size: 20px;
			line-height: 30px;
			padding: 10px 25px;
		}
	}
}



