body, html {
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: 'Dosis', helvetica, sans-serif;
	font-weight: 300;
	line-height: 1.5em;
	background: #FBFEF6;
	background-image: url('../images/whitey.png');
	color: #384F40;
	height: 100%;
}

h1, h2, h3, h4 {
	margin: 0; 
	padding: 0;
	line-height: 1.5em;
	color: #4B4551;
	text-shadow: 1px 1px 1px rgba(40, 40, 40, .3);
	font-weight: 500;
}
h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	color: #384F40;
	text-shadow: none;
	font-size: 1.25em;
	text-transform: uppercase;
}
h4 {
	text-shadow: none;
}

p {
	margin: 0 0 10px 0;
	padding: 0;
	text-align: justify;
}
.omega p, .alpha p {
	margin: 0;
}

a {
	text-decoration: none;
	color: #BF3847;
}
a:hover { text-decoration: underline; }

ul {
	padding-left: 20px;
	list-style-type: circle;
}
li {
	
}

.smaller {
	font-size: .9em;
}
.borderLeft {
	border-left: 1px solid #384F40;
}
.borderRight {
	border-right: 1px solid #384F40;
}

.hide { display: none !important; }
.test {
	height: 1000px;
	width: 20px;
	background: pink;
}
.tablet {
	display: none !important;
}
.phone {
	display: none !important;
}

@media only screen and (max-width: 1024px) {
	.tablet {
		display: block !important;
	}
	.screen {
		display: none !important;
	}
}

@media only screen and (max-width: 767px) {
	.phone {
		display: block !important;
	}
	.largerPhone {
		display: none !important;
	}
}




/* **************** */
/*		layout		*/
/* **************** */
#page { 
	position: relative;
}
footer {
	height: 150px;
	position: relative;
}




/* **************** */
/*		header		*/
/* **************** */
header {}
#topHeadBar {
	background: #31353B;
	height: 10px;
}
#midHeadBar {
	background: #BF3847;
	box-shadow: 		inset 0 0 5px #8F0817;
	-moz-box-shadow:    inset 0 0 5px #8F0817;
	-webkit-box-shadow: inset 0 0 5px #8F0817;
	border-top: 2px solid #8F0817;
	border-bottom: 3px solid #8F0817;
}
#title h1 {
	color: #DAE8F1;
	font-size: 2.5em;
	line-height: 80px;
	text-shadow: 1px 1px 1px #474F44;
	display: inline-block;
}
#nav_expand {
	display: inline-block;
	float: right;
	height: 48px;
}
#nav_expand img {
	height: 30px;
	width: 30px;
	margin: 9px 0;
}
.nav_link {
	font-size: 1.2em;
	text-align: center;
	padding: 17px 17px 0;	
	color: #CAD8E1;
	line-height: 60px;
	text-shadow: 1px 1px 1px #474F44;
	float: right;
}
.nav_link:first-child {
	padding-right: 0;
}
.nav_link.active, .nav_link:hover {
	color: #EAF8FF;
	text-decoration: none;
	position: relative;
}
.nav_link.active:after { 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #31353B;
	height: 0;
	width: 0;
	top: -2px;
	content: "";
	left: 50%;
	margin-left: -20px;
	position: absolute;
}

@media only screen and (max-width: 1160px) and (min-width: 960px) {
	.nav_link {
		font-size: 1em;
	}
}
@media only screen and (max-width: 959px) and (min-width: 768px) {
	#title h1 { 
		line-height: 60px;
	}
	.nav_link {
		width: 18%;
		margin-left: 1%;
		margin-right: 1%;
		margin-top: 19px;
		padding-top: 0;
		font-size: 1em;
		line-height: 40px;
	}
	.nav_link.active:after { 
		top: -21px;
	}
}
@media only screen and (max-width: 767px) {
	#title {
		display: inline-block;
		float: left;
		width: auto;
	}
	#title h1 { 
		font-size: 2em;
		line-height: 1.5em;
	}
	#navigation {
		display: none;
		float: right;
		width: auto;
		position: absolute;
		top: 51px;
		right: 0;
		z-index: 5;
		background: #BF3847;
		border-left: 2px solid #8F0817;
		border-right: 2px solid #8F0817;
		border-bottom: 3px solid #8F0817;
		
		box-shadow: 		inset 0 0 5px #8F0817;
		-moz-box-shadow:    inset 0 0 5px #8F0817;
		-webkit-box-shadow: inset 0 0 5px #8F0817;
	
	}
	#navigation a {
		font-size: 1em;
		line-height: 1.5em;
		margin: 0;
		text-align: left;
		padding: 10px 30px;
		width: auto;
		display: block;
		float: none;
	}
	#navigation a.active, #navigation a:hover {
		border-bottom: 0;
		margin-bottom: 0;
	}
	#navigation a.active:after {
		display: none;
	}
}


/* **************** */
/*		content		*/
/* **************** */
#content {
	overflow: hidden;
	padding-top: 20px;
}



/* **************** */
/*		footer		*/
/* **************** */
footer {
	background: #1A3841;
}
#topFootBar {
	background: #51555B;
	height: 40px;
	position: relative;
	z-index: 1;
}
#midFootBar {
	background: #21252B;
	height: 100px;
	position: relative;
	z-index: 10;
}
#bottomFootBar {
	background: #BF3847;
	height: 10px;
	position: relative;
	z-index: 1;
}
@media only screen and (max-width: 767px) { 
	footer { height: auto; }
	#midFootBar { display: none; }	
}






/* **************** */
/*		home		*/
/* **************** */
.self_photo {
	box-shadow: 		0 0 5px #444;
	-moz-box-shadow:    0 0 5px #444;
	-webkit-box-shadow: 0 0 5px #444;
}
.social_link {
	margin-bottom: 10px;
	overflow: hidden;
	font-style:italic;
}
.social_link .img {
	height: 60px;
	width: 60px;
	margin-right: 20px;
	float: left;
	background: url("../images/social_sprites.png");
}
	.img.b { 			background: url("../images/b_60x60.png"); }
	.img.linkedin { 	background: url("../images/linkedin_60x60.png"); }
	.img.twitter { 		background: url("../images/twitter_60x60.png"); }
	.img.pinterest {	background: url("../images/pinterest_60x60.png"); }
	.img.github { 		background: url("../images/github_60x60.png"); }
.social_link a {
	line-height: 60px;
	display: inline-block;
	float: left;
}
.social_link.general .link {
	float: left;
	overflow: hidden;
}
.social_link.general p {
	line-height: 30px;
	display: block;
	clear: both;
	margin: 0;
}

@media only screen and (max-width: 1160px) and (min-width: 768px) {
	.social_link.column6 {
		width: 48%;
	}
}
@media only screen and (max-width: 767px) { 
	.social_link.column6 {
		width: 98%;
	}
}





/* **************** */
/*		CV			*/
/* **************** */
.cv_title {
	display: inline-block;
}
.cv_download {
	float: right;
	margin-top: 18px;
	font-size: 1.3em;
	text-shadow: 1px 1px 1px rgba(100, 100, 100, .3);
}
.cv_sec {
	margin-bottom: 5px;
	border-bottom: 1px solid #384F40;
}
.cv_sec_sub {
	margin-bottom: 5px;
	border-bottom: 1px dotted #384F40;
}
.cv_sec_sub h3 {
	text-transform: none;
}
.cv_sec + .cv_sec_sub {
	margin-top: 5px;
}






/* **************************** */
/*		publications			*/
/* **************************** */
.pub {
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.pub .date, .pub .loc {
	margin-top: 6px;
}
.pub .status {
	font-size: 0.8em;
	display: block;
}
.pub h3 {
	font-weight: bold;
}
.pub .abstract {
	font-size: 0.8em;
}







