$body-font-family: 'Dosis', helvetica, sans-serif;
$body-font-size: 18px;
$body-font-weight: 300;
$body-line-height: 1.5em;
$body-text-color: #404040;

$body-background-color: #f8f8f8;

$h1-font-size: 2.5em;
$h2-font-size: 2em;
$h3-font-size: 1.25em;

$a-text-color: #903;


$mediaBreakLargeMax: 1400px;
$mediaBreakLargeMin: 1023px;
$mediaBreakMediumMax: 1024px;
$mediaBreakMediumMin: 769px;
$mediaBreakSmallMax: 768px;


$color-red: #C3407C;
    $color-red12-bad:			#F2F5F0;
	$color-red11-bad:			#F2E5F0;
	$color-red10-bad:			#F2D5F0;
	$color-red9-bad:			#F2C5F0;
	$color-red8-bad:			#F2B5E0;
	$color-red7-bad:			#F2A5D0;
	$color-red6-bad:			#F295C0;
	$color-red5-bad:			#F285B0;
	$color-red4-bad:			#F275A0;
	$color-red3-bad:			#F26590;
	$color-red2-bad:			#F25580;
	$color-red1-bad:			#F24570;
	
	$color-red0:				#C3407C;
	
	$color-red-1:				#B3306C;
	$color-red-2:				#A22550;
	$color-red-3:				#921540;
	$color-red-4:				#820530;
	$color-red-5-bad:			#720520;
	$color-red-6-bad:			#620510;
	$color-red-7-bad:			#520500;
	$color-red-8-bad:			#420500;
	$color-red-9-bad:			#320500;
	$color-red-10-bad:			#220500;
	$color-red-11-bad:			#120500;
	$color-red-12-bad:			#020500;
	$color-red-13-bad:			#020500;
	$color-red-14-bad:			#020500;
	$color-red-15-bad:			#020500;
$color-purple: #6D56B8;
	$color-purple10-bad:		#FDF6F8;
	$color-purple9-bad:			#FDE6F8;
	$color-purple8-bad:			#EDD6F8;
	$color-purple7-bad:			#DDC6F8;
	$color-purple6-bad:			#CDB6F8;
	$color-purple5-bad:			#BDA6F8;
	$color-purple4:				#AD96F8;
	$color-purple3:				#9D86E8;
	$color-purple2:				#8D76D8;
	$color-purple1:				#7D66C8;
	$color-purple0:				#6D56B8;
	$color-purple-1:			#5D46A8;
	$color-purple-2:			#4D3698;
	$color-purple-3:			#3D2688;
	$color-purple-4:			#2D1688;
	$color-purple-5:			#1D0668;
	$color-purple-6-bad:		#0D0658;
	$color-purple-7-bad:		#0D0648;
	$color-purple-8-bad:		#0D0638;
	$color-purple-9-bad:		#0D0628;
	$color-purple-10-bad:		#0D0618;
$color-purple-light: #060100;
	$color-purple-light7-bad:	#F6F1F0;
	$color-purple-light6-bad:	#E6E1F0;
	$color-purple-light5-bad:	#D6D1F0;
	$color-purple-light4-bad:	#C6C1F0;
	$color-purple-light3:		#B6B1F0;
	$color-purple-light2:		#A6A1E0;
	$color-purple-light1:		#9691D0;
	$color-purple-light0:		#8681C0;
	$color-purple-light-1:		#7671B0;
	$color-purple-light-2:		#6661A0;
	$color-purple-light-3:		#565190;
	$color-purple-light-4:		#464180;
	$color-purple-light-5:		#363170;
	$color-purple-light-6:		#262160;
	$color-purple-light-7:		#161150;
	$color-purple-light-8:		#060140;
	$color-purple-light-9-bad:	#060130;
	$color-purple-light-10-bad:	#060120;
	$color-purple-light-11-bad:	#060110;
	$color-purple-light-12-bad:	#060100;
$color-purple-dark: #29253D;
	$color-purple-dark13-bad:	#F9F5FD;
	$color-purple-dark12:		#E9E5FD;
	$color-purple-dark11:		#D9D5ED;
	$color-purple-dark10:		#C9C5DD;
	$color-purple-dark9:		#B9B5CD;
	$color-purple-dark8:		#A9A5BD;
	$color-purple-dark7:		#9995AD;
	$color-purple-dark6:		#89859D;
	$color-purple-dark5:		#79758D;
	$color-purple-dark4:		#69657D;
	$color-purple-dark3:		#59556D;
	$color-purple-dark2:		#49455D;
	$color-purple-dark1:		#39354D;
	$color-purple-dark0:		#29253D;
	$color-purple-dark-1:		#19152D;
	$color-purple-dark-2:		#09051D;
	$color-purple-dark-3-bad:	#09050D;
$color-off-white: #F4E9DF;
$color-white: #FFF;

$color-neutral: $color-off-white;
$color-theme1: $color-purple;
$color-theme2: $color-red;


/* **********************
 * 		Reset Code
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   
   ric Meyer CSS Resets - Begin
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    
    box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul, ol {
	padding-left: 40px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img{
    border:0;
}
figure{
    position:relative;
}
figure img{
    width:100%;
}
img {
    width: 100%;
}
/* 
 *	Eric Meyer CSS Resets - End
 */


 /* **************************
  * 		GENERAL
  * - set body 
  * - set headers (h1, h2, etc)
  * - set text (p, a, .fa, etc.)
  *  set theme (light, dark, special)
  */
body, html {
    font-family: sans-serif;
 	font-size: 20px;
 	line-height: 1.5em;
	letter-spacing: 1px;
	word-spacing: 0.1em;
	font-weight: 300;
    color: $color-purple-dark;
    background: $color-white;
}
* {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 28px;
	line-height: 1.5em;
}
h2 {
	font-size: 48px;
	line-height: 1.5em;
}
h3 {
	font-size: 1.25em;
	line-height: 1.5em;
	text-transform: uppercase;
	margin-bottom: 5px;
	border-bottom: 1px solid #333;
}
h4 {
	@extend h3;
	text-transform: none;
	border-bottom-style: dotted; 
}

p {
	line-height: 1.25em;
	margin-bottom: 10px; 
	line-height: 1.75em;
}
a {
	text-decoration: none;
	&:hover { text-decoration: underline; }
}
.fa {
	font-size: 24px;
}
.special p, .special a, .special .fa {
	color: $color-off-white;
}
.light {
	p { color: $color-purple-dark; }
	a { color: $color-red; }
	.fa { color: $color-purple; }
}
.dark {
	p { color: $color-off-white; }
	a { color: $color-red7-bad; }
	.fa { color: $color-purple-light; }
}





/* *******************
 * 		LAYOUT
 * - set the header to static (navigation is separate, see below)
 * - set footer to bottom of page 
 *	// TODO: do this
 * - if aside, fix to 150px on right
 * // TODO: this has never been tested on mobile, styles pulled from v1
 */
$header-height: 105px;
$header-z-index: 10;
header#header {
	position: fixed;
	z-index: $header-z-index;
	top: 0;
	width: 100%;
}
article#page {
	margin-top: $header-height;
	
	aside#sidebar { 
		position: fixed;
		top: $header-height;
		width: 250px;
	}
	aside#sidebar + section#content {
		margin-left: 250px;
	}
}
footer#footer {
}



/* ******************
 *		HEADER
 */

header {
	/*a, p, .fa { color: $color-neutral; }*/
    a { text-decoration: none; }
    
    #headerContainer {
        background: linear-gradient(45deg, $color-theme1, $color-theme2);
        padding: 10px;
		
		-webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
		-moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
		box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
        
        #headerTitle h1 {
            font-size: 28px;
            line-height: 1.25em;
        }
		p {
			margin: 0;
			line-height: 1.25em;
		}
    }
    
	#navigation {
        position: relative;
        z-index: ($header-z-index + 1);
        width: 100%;
        height: 100%;
		margin-top: -($header-height);
		
		transform-origin: right top;
		transform: rotate(-90deg);
		transform-style: initial;
		&.close { 
			transition: transform 0.3s ease;
		}
		&.open { 
			transition: transform 0.3s ease; 
			transform: rotate(0deg);
		}
			
        
        #navButtonContainer {
            position: absolute;
            top: -100px;
            right: 0;
            width: 100px;
            height: 200px;
            z-index: ($header-z-index + 3);
            overflow: hidden;
            
            #navButtonDisk {
                width: 200px;
                height: 200px;
                position: absolute;
                top: 0;
                left: 0;
                background: $color-purple-dark;
                border-radius: 50%;
                
                -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
            	-moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
            	box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
            }
            button {
                background: transparent;
                height: 75px;
                width: 75px;
                padding: 0;
                margin: 0;
                border: 0;
                position: absolute;
                z-index: ($header-z-index + 4);
                
                &#navClose {
                    bottom: 25px;
                    left: 25px;
                }
                &#navOpen {
                    left: 25px;
                    top: 25px;
                    transform: rotate(90deg);
                }
                
                .fa {
                    font-size: 40px;
                }
            }
        }
        
        #navigationLinks {
            width: 100%;
            height: 100%;
			margin: 0;
			padding: 5%;
            
            ul {
                display: flex;
                flex-direction: column;
                list-style-type: none;
                padding: 0;
                text-align: center;
                height: 100%;
				border: 10px solid $color-purple-dark;
            }
            li {
                display: flex;
                flex: 1;
                border-bottom: 1px solid rgba(109, 86, 184, 0.5);
                align-items: center;
                background: rgba(240,240,240,0.95);
                &:last-child { border: 0; }
                
                &.active {
                    background: linear-gradient(180deg, rgba(240, 240, 240, 0.95), rgba(109, 86, 184, 0.95));
                }
                a {
                    display: block;
                    width: 100%;
                    min-height: 100px;
                    line-height: 100px;
                    font-size: 20px;
                    color: $color-purple-dark;
                }
            }
        }
    }
}



/* **************** */
/*		Aside		*/
/* **************** *//*
aside {
	#asidePointer {
		border: #333;
	}
	ul {
		margin: 0;
		padding: 0;
		border-left: 3px solid #333;
		padding-left: 20px;
		
		li {
			list-style-type: none;
			margin: 20px 0;
			display: inline-block;
			
			a.active:after {
				border-top: 12px solid transparent;
			    border-bottom: 12px solid transparent;
			    border-left: 12px solid #333;
			    height: 0;
			    width: 0;
			    top: 22px;
			    content: "";
			    left: 0;
			    position: absolute;
			}
		}
	}
}*/



/* ****************
 *		FOOTER
 */
footer {
	margin-top: 20px;
	background: $color-purple-dark2;
	
	#one {
		border-top: 10px solid $color-red-2;
		background: linear-gradient(45deg, $color-purple-dark1, $color-purple-dark3);
		li {
			
			a {
				padding: 10px 15px;
			}
		}
	}
	#two {
		background: linear-gradient(180deg, $color-purple-dark3, $color-purple-dark5);
		background: linear-gradient(180deg, #666676, #B6B6C6);
		padding: 20px 5px;
		
		li a {
			padding: 15px;
			.fa { 
				background: linear-gradient(180deg, $color-red0, $color-red-1);
				border-radius: 50%;
				padding: 15px; 
				font-size: 30px;
				width: 80px;
				height: 80px;
				text-align: center;
				line-height: 50px;
			}
		}
	}
	#three {
		background: linear-gradient(180deg, $color-purple-dark1, $color-purple-dark-1);
		background: linear-gradient(180deg, $color-white, $color-off-white);
		padding: 10px 20px;
		text-align: center;
		p { 
			margin: 0;
			font-size: 14px;
		}
	}
	
	ul {
		list-style-type: none;
		padding: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		text-align: center;
		
		li {
			flex: 1;
			
			a {
				display: block;
			}
		}
	}
}





/* ******************
 *		CONTENT	
 */
#content {
	
	>section {
		padding: 100px 15px 75px;
	}
	
	#welcome {
		h2 {
			color: $color-purple-dark;
			display: inline-block;
			margin-bottom: 100px;
			padding-bottom: 2px;
			position: relative;
			
			&:after {
			    position: absolute;
			    content: '';
			    width: 100%;
			    height: 2px;
			    left: 0;
			    bottom: 0;
			    background: $color-purple-dark;
			}
		}
	}
}



/*.self_photo {
	box-shadow: 		0 0 5px #444;
	-moz-box-shadow:    0 0 5px #444;
	-webkit-box-shadow: 0 0 5px #444;
}*//*
.social_link {
    margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	font-style: italic;
    display: inline-block;
    float: left;
    
    &.general {
        padding-left: 20px;
        border-left: 1px solid $body-text-color;
    }
}
.social_link .icon {
	height: 60px;
	width: 60px;
	display: inline-block;
	margin-right: 20px;
	float: left;
	text-align: center;
	background: #303030;
	border-radius: 50%;
}
.social_link .icon .fa {
	line-height: 60px;
	font-size: 2em;
	color: white;
}
.social_link a {
	line-height: 60px;
	display: inline-block;
	float: left;
}
.social_link.general .link {
	float: left;
	overflow: hidden;
}
.social_link.general p {
	line-height: 30px;
	display: block;
	clear: both;
	margin: 0;
}

@media only screen and (max-width: 1160px) and (min-width: 768px) {
	.social_link.column6 {
		width: 48%;
	}
}
@media only screen and (max-width: 767px) {
	.social_link.column6 {
		width: 98%;
	}
}*/





/* **************** */
/*		CV			*/
/* **************** *//*
.cv_title {
	display: inline-block;
}
.cv_download {
	float: right;
	margin-top: 18px;
	font-size: 1.3em;
}
.cv_sec + .cv_sec_sub {
	margin-top: 5px;
}
.cv_sec_sub h3 {
	text-transform: none;
	border-bottom-style: dotted;
}
*/





/* **************************** */
/*		publications			*/
/* **************************** *//*
.publication h3 {
	font-weight: bold;
}
.abstract {
	margin-bottom: 10px;
}
.abstract-text {
	height: 81px;
    overflow: hidden;
}*/
