$body-font-family: helvetica, arial, sans-serif;
$body-font-size: 18px;
$body-font-weight: 300;
$body-line-height: 1.5em;
$body-text-color: #404040;

$body-background-color: #f8f8f8;

$h1-font-size: 2.5em;
$h2-font-size: 2em;
$h3-font-size: 1.25em;

$a-text-color: #903;


$mediaBreakLargeMax: 1400px;
$mediaBreakLargeMin: 1023px;
$mediaBreakMediumMax: 1024px;
$mediaBreakMediumMin: 769px;
$mediaBreakSmallMax: 768px;


$color-red: #C3407C;
    $color-red12-bad:			#F2F5F0;
	$color-red11-bad:			#F2E5F0;
	$color-red10-bad:			#F2D5F0;
	$color-red9-bad:			#F2C5F0;
	$color-red8-bad:			#F2B5E0;
	$color-red7-bad:			#F2A5D0;
	$color-red6-bad:			#F295C0;
	$color-red5-bad:			#F285B0;
	$color-red4-bad:			#F275A0;
	$color-red3-bad:			#F26590;
	$color-red2-bad:			#F25580;
	$color-red1-bad:			#F24570;

	$color-red0:				#C3407C;
	$color-red-1:				#B3306C;
	$color-red-2:				#A22550;
	$color-red-3:				#921540;
	$color-red-4:				#820530;
	$color-red-5-bad:			#720520;
	$color-red-6-bad:			#620510;
	$color-red-7-bad:			#520500;
	$color-red-8-bad:			#420500;
	$color-red-9-bad:			#320500;
	$color-red-10-bad:			#220500;
	$color-red-11-bad:			#120500;
	$color-red-12-bad:			#020500;
	$color-red-13-bad:			#020500;
	$color-red-14-bad:			#020500;
	$color-red-15-bad:			#020500;

$color-purple: #6D56B8;
	$color-purple10-bad:		#FDF6F8;
	$color-purple9-bad:			#FDE6F8;
	$color-purple8-bad:			#EDD6F8;
	$color-purple7-bad:			#DDC6F8;
	$color-purple6-bad:			#CDB6F8;
	$color-purple5-bad:			#BDA6F8;
	$color-purple4:				#AD96F8;
	$color-purple3:				#9D86E8;
	$color-purple2:				#8D76D8;
	$color-purple1:				#7D66C8;
	$color-purple0:				#6D56B8;
	$color-purple-1:			#5D46A8;
	$color-purple-2:			#4D3698;
	$color-purple-3:			#3D2688;
	$color-purple-4:			#2D1688;
	$color-purple-5:			#1D0668;
	$color-purple-6-bad:		#0D0658;
	$color-purple-7-bad:		#0D0648;
	$color-purple-8-bad:		#0D0638;
	$color-purple-9-bad:		#0D0628;
	$color-purple-10-bad:		#0D0618;

	$color-grey1:				#FBF8FF;
	$color-grey0:				#EFEEF9;
	$color-grey-1:				#DFDEE9;
	$color-grey-2:				#CFCED9;
	$color-grey-3:				#BFBEC9;
	$color-grey-4:				#AFAEB9;
	$color-grey-5:				#9F9EA9;
	$color-grey-6:				#8F8E99;
	$color-grey-7:				#7F7E89;
	$color-grey-8:				#6F6E79;
	$color-grey-9:				#5F5E69;
	$color-grey-10:				#4F4E59;
	$color-grey-11:				#3F3E49;
	$color-grey-12:				#2F2E39;
	$color-grey-13:				#1F1E29;
	$color-grey-14:				#0F0E19;
	$color-grey-15-bad:			#0F0E09;

$color-off-white: #F4E9DF;
$color-white: #FFF;


@import 'reset.css';
@import 'buttons';


 /* **************************
  * 		GENERAL
  * - set body
  * - set headers (h1, h2, etc)
  * - set text (p, a, .fa, etc.)
  *  set theme (light, dark, special)
  */
body, html {
    font-family: sans-serif;
 	font-size: 16px;
 	line-height: 1.5em;
	letter-spacing: 0.5px;
	word-spacing: 0.05em;
	font-weight: 300;
    color: $color-grey-10;
    background: $color-white;
}


h1, h2, h3, h4, h5 {
	font-weight: 600;
	margin: 0;
	padding: 0;
	letter-spacing: 2px;
}
h1 {	/* name in header bar */
	font-size: 20px;
	line-height: 1.25em;
	letter-spacing: 1px;
}
h2 {	/* page title */
	display: inline-block;
	margin: 0 0 75px 0;
	padding: 0 0 2px 0;
	position: relative;
	font-size: 48px;
	line-height: 1.25em;
	color: $color-grey-12;

	&:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 2px;
		left: 0;
		bottom: 0;
		background: $color-grey-12;
	}
}
h3 {	/* page section headers */
	font-size: 48px;
	line-height: 1.5em;
	margin: 0 0 50px 0;
}
h4 {	/* page sub-section headers */
	font-size: 30px;
	line-height: 1.25em;
	margin-bottom: 5px;
}

p {
	line-height: 1.25em;
	margin-bottom: 15px;
	line-height: 1.65em;
}
a {
	text-decoration: none;
	&:hover { text-decoration: underline; }
}
	.fa, .fas, .far, .fab {
		font-size: 24px;
	}
	.special p, .special a, .special .fa, .special .fas, .special .far, .special .fab {
		color: $color-white;
	}
	section, .light {
		a { color: $color-red; }
		.fa, .fas, .far, .fab { color: $color-purple; }
	}
	.dark {
		p { color: $color-white; }
		a { color: $color-red2-bad; }
		.fa, .fas, .far, .fab { color: $color-grey-3; }
	}
b {
	font-weight: 400;
}
@media (min-width: $mediaBreakMediumMin) {
	h1 {
		font-size: 24px;
		line-height: 1.2em;
	}
	h3 {
		margin: 0 0 40px 0;
	}
}



/* *******************
 * 		LAYOUT
 * - set the header to static (navigation is separate, see below)
 * - set footer to bottom of page
 *	// TODO: do this
 * - if aside, fix to 150px on right
 * // TODO: this has never been tested on mobile, styles pulled from v1
 */
$padding: 15px;
$pad: $padding;

$header-height: 65px;
	$header-height-big: 85px;
$header-z-index: 100;
$nav-disk-diameter: 150px;

$aside-width: 150px;

header#header {
	position: fixed;
	z-index: $header-z-index;
	top: 0;
	height: $header-height;
	width: 100%;

	#headerContainer {
		padding: $pad - 5 ($nav-disk-diameter/2) $pad - 5 $pad - 5;
	}

}
article#page {
	margin-top: $header-height;

	aside#sidebar {
		position: fixed;
		top: $header-height;
		width: $aside-width;
	}
	aside#sidebar + section#content {
		margin-left: $aside-width;
	}
	section#content {
		padding: 50px 0;

		> section {
			padding: 50px $pad;
		}
	}
}
footer#footer {
	> section {
		padding: $pad;
	}
}
@media (min-width: $mediaBreakMediumMin) {
	header#header {
		padding: 0 10%;
		height: $header-height-big;

		#headerContainer {
			padding: $pad 0;
		}
	}
	article#page {
		margin-top: $header-height-big;
		section#content > section {
			padding: 50px 10%;
		}
	}
	footer#footer > section {
		padding: $pad 10%;
	}
}



/* ******************
 *		HEADER
 * - header bar
 * - navigation
 */

header {
	width: 100%;
	background: linear-gradient(45deg, $color-purple0, $color-red0);

	-webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	-moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);

    #headerContainer {
		height: 100%;

        #headerTitle {
			height: 100%;
		    display: flex;
		    flex-direction: column;
		    justify-content: space-between;
			p {
				margin: 0;
				line-height: 1.25em;
			}
		}
    }

	#navigation {
        position: relative;
        z-index: ($header-z-index + 1);
        width: 100%;
		margin-top: -($header-height);

		transform-origin: right top;
		transform: rotate(-90deg);
		transform-style: initial;
			&.close {
				transition: all 0.3s ease;
			}
			&.open {
				transition: all 0.4s ease;
				transform: rotate(0deg);
			}
			#navigationLinks {
				overflow: hidden;
			}


        #navButtonContainer {
            position: absolute;
            top: -($nav-disk-diameter/2);
            right: 0;
            width: ($nav-disk-diameter/2);
            height: $nav-disk-diameter;
            z-index: ($header-z-index + 2);
            overflow: hidden;

            #navButtonDisk {
                width: $nav-disk-diameter;
                height: $nav-disk-diameter;
                position: absolute;
                top: 0;
                left: 0;
                background: $color-grey-12;
                border-radius: 50%;

                -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
            	-moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
            	box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
            }
            button {
                background: transparent;
                height: ($nav-disk-diameter*(3/8));
                width: ($nav-disk-diameter*(3/8));
                padding: 0;
                margin: 0;
                border: 0;
                position: absolute;
                z-index: ($header-z-index + 4);

                &#navClose {
                    bottom: ($nav-disk-diameter/8);
                    left: ($nav-disk-diameter/8);
                }
                &#navOpen {
                    left: ($nav-disk-diameter/8);
                    top: ($nav-disk-diameter/8);
                    transform: rotate(90deg);
                }

                .fa, .fas, .fab {
                    font-size: ($nav-disk-diameter*(1/5));
                }
            }
        }

        #navigationLinks {
            width: 100%;
            height: 100%;
			margin: 0;
			padding: 3%;

            ul {
                display: flex;
                flex-direction: column;
                list-style-type: none;
                padding: 0;
                text-align: center;
                height: 100%;
				border: 10px solid $color-grey-12;
            }
            li {
                display: flex;
                flex: 1;
                align-items: flex-end;
				justify-content: center;
				border-bottom: 1px solid rgba(109, 86, 184, 0.5);
                &:last-child { border: 0; }

				background: rgba(240,240,240,0.97);
                &.active {
                    background: linear-gradient(180deg, rgba(240, 240, 240, 0.98), rgba(109, 86, 184, 0.98));
                }
                a {
                    display: block;
                    width: 100%;
                    min-height: 100px;
                    line-height: 100px;
                    font-size: 20px;
                    color: $color-grey-12;
					font-weight: 600;
                }
            }
        }
    }
}
@media (min-width: $mediaBreakMediumMin) {
	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		#headerContainer {
			#headerTitle {
			}
		}

		#navigation {
			width: auto;
			margin: 0 -20px 0 0;
			transform: none;
			transform-origin: unset;

			#navButtonContainer { display: none; }
			#navigationLinks {
				width: auto;
				padding: 0;

				ul {
					flex-direction: row;
					border: 0;
					li {
						border: 0;
						background: none;
						&.active {
		                    background: linear-gradient(0deg, transparent, rgba(50, 50, 50, 0.2));
		                }
						a {
							min-height: auto;
							line-height: 1.2em;
							font-size: 14px;
							color: white;
							padding: 40px 5px 20px;
							font-weight: 400;
						}
					}
				}
			}
		}
	}
}



/* ****************
 *		Aside
 * // TODO: Fix, original styles
 */
aside {
	#asidePointer {
		border: #333;
	}
	ul {
		margin: 0;
		padding: 0;
		border-left: 3px solid #333;
		padding-left: 20px;

		li {
			list-style-type: none;
			margin: 20px 0;
			display: inline-block;

			a.active:after {
				border-top: 12px solid transparent;
			    border-bottom: 12px solid transparent;
			    border-left: 12px solid #333;
			    height: 0;
			    width: 0;
			    top: 22px;
			    content: "";
			    left: 0;
			    position: absolute;
			}
		}
	}
}



/* ****************
 *		FOOTER
 */
footer {
	background: $color-grey-10;
	text-align: center;

	-webkit-box-shadow: 0 -3px 5px rgba(57, 63, 72, 0.3);
	-moz-box-shadow: 0 -3px 5px rgba(57, 63, 72, 0.3);
	box-shadow: 0 -3px 5px rgba(57, 63, 72, 0.3);

	ul {
		list-style-type: none;
		padding: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
		li {
			a {
				display: block;
			}
		}
	}

	#one {
		background: linear-gradient(180deg, $color-grey-11, $color-grey-9);
		li {
			display: flex;
			flex: 1;
			justify-content: center;
			align-items: center;
			a {
				padding: ($pad)-5;
			}
		}
	}
	#two {
		background: linear-gradient(45deg, $color-purple0, $color-red0);
		ul {
			li a {
				padding: $pad $pad - 5;
				.fa, .fas, .fab {
					background: linear-gradient(135deg, transparent 20%, rgba(20,20,20,0.3));
					color: white;
					border-radius: 50%;
					padding: $pad;
					font-size: 30px;
					text-align: center;
					line-height: 30px;
				}
			}
		}
	}
	#three {
		background: linear-gradient(180deg, $color-grey-11, $color-grey-13);
		p {
			margin: 0;
			font-size: 12px;
		}
	}
}
@media (min-width: $mediaBreakMediumMin) {
	footer {
		#two {
			ul {
				li a {
					padding: 0 $pad;
					.fa, .fas, .fab {
						font-size: 20px;
						line-height: 20px;
					}
				}
			}
		}
	}
}



/* ******************
 *		CONTENT
 */
#content {

	> section {
		&:nth-child(3n-2) {
			background: $color-white;
		}
		&:nth-child(3n-1) {
			background: $color-grey0;

			.inset {
				background: $color-grey-2;
				padding: $pad;
				margin: 20px -($pad) 20px $pad;
			}
		}
		&:nth-child(3n-0) {
			background: $color-grey1;
		}
	}

	ol.numlist {
		list-style: none;
		counter-reset: numlist-counter;
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;

		li {
			counter-increment: numlist-counter;
			margin: 25px 0;

			&::before {
				content: "0" counter(numlist-counter);
				font-family: monospace;
				background: linear-gradient(135deg, $color-grey0, $color-grey-1);
				color: $color-purple;
				border-radius: 50%;
				margin: 0 $pad 5px 0;
				display: inline-block;
				float: left;
				height: 100px;
				width: 100px;
				text-align: center;
				line-height: 100px;
				font-size: 45px;
				font-weight: 600;
			}

			b {
				display: block;
				margin-bottom: 5px;
				font-weight: 600;
			}
		}
	}

	#welcome {

		.blurb {
			padding: $pad;
			background: $color-grey-1;
			text-align: center;
		}
	}

	ul.list {
		padding: 0;
		list-style-type: none;
	}
}
@media (min-width: $mediaBreakMediumMin) {

}

.group {
	margin-bottom: (2*$pad);

	&.close {
		.toggleBtns {
			.group-btn-close { display: block; }
			.group-btn-open { display: none; }
		}
		.group-content { display: none; }
	}
	&.open {
		.toggleBtns {
			.group-btn-close { display: none; }
			.group-btn-open { display: block; }
		}
		.group-content { display: block; }
	}

	.group-header {
		border-bottom: 1px solid black;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;

		.toggleBtns {
			display: flex;
			flex: 1;
			align-items: center;
			justify-content: center;
			margin-right: $pad;

			span {
				height: 40px;
				width: 40px;
				font-size: 25px;
				line-height: 40px;
    			text-align: center;
			}
		}

		h4 {
			flex-grow: 999;
		}
	}

	.group-content {

		.list {
			> li {
				margin: 20px 0 30px 0;

				.image {
					text-align: center;
					margin: 20px;
					img {
						width: 80%;
					}
				}
				.details {
					.links {
						display: flex;
						flex-direction: row;
						align-items: flex-start;
						flex-direction: row-reverse;
						justify-content: space-between;
					}
				}
			}
		}

	}
}
@media (min-width: $mediaBreakMediumMin) {
	.group {
		.group-content {
			.list {
				> li {
					overflow: hidden;
					.image {
						text-align: center;
						margin: 0 20px 20px 0;
						float: left;
						width: 200px;
						height: 200px;
						img {
							width: 200px;
						}
					}
				}
			}
		}
	}


}

#timeline { display: none; }
@media (min-width: $mediaBreakMediumMin) {

	#timeline {
		display: block;
		margin: 20px -10% 50px;
		text-align: center;

		#timeline-grid {

			.timeline-group, .timeline-header {
				display: flex;
				flex-direction: row;
				align-items: center;

				.timeline-label {
					width: 130px;
					display: flex;
					justify-content: center;
					align-items: center;

					h4 {
						font-size: 16px;
						letter-spacing: 1px;
						margin: 0;
					}
				}
				.timeline-graphs {
					flex-grow: 999;
					position: relative;
				}
				.timeline-graph {
					flex-grow: 999;
					position: relative;

					span {
						position: absolute;
						left: 0;
						top: 0;
						overflow: hidden;
						height: 44px;
						width: 0;
						padding: 10px 0;
						margin: 5px 0.25%;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 12px;
						line-height: 1.2em;
						animation: all 2 ease;
					}
				}
			}
				.timeline-header {
					.timeline-graph {
						height: 30px;
						span {
							border-right: 1px dotted $color-grey-6;
							align-items: flex-start;
							padding: 0 1px 0 2px;
							margin: 0;
							height: 0;
							color: black;
							&:last-child { border: 0; }
						}
					}
				}
				.timeline-group {
					&:nth-child(odd) {
						background: transparent;
						.timeline-graph span {
							background: $color-purple4;
						}
					}
					&:nth-child(even) {
						background: $color-grey-1;
						.timeline-graph span {
							background: $color-purple2;
						}
					}
					.timeline-label {
						padding: 10px;
					}
					.timeline-graph {
						height: 55px;
						span {
							color: white;
							text-shadow: 0 0 5px rgba(100,100,100, 1);
						}
					}
				}

		}
	}
}
