---
layout: default
title: Teaching
---

<section>
	<div id="welcome">
		<h2>Teaching</h2>
		<p class="blurb">
			Teaching is one of my passions in life. I have experience teaching at the college level, as well volunteering for various middle school, high school, and undergraduate outreach programs and summer camps. I love teach introductoary computing, no matter the audience or context, it is always fun seeing my students learning and applying newly learned computing concepts.
		</p>
	</div>
</section>

<!--
<section id="two">
	<div id="teachingphilosophy" class="">
		<h3>Teaching Philosophy</h3>
		<p>
			My teaching philosophy is based in mutural effort, from the students and from myself. This means I want to see my students working and putting forth effort to understand concepts and practice with the content. As an instructur, I have a responsibility to my students to provide them with an engaging, flexiable, and supportive learning environment, below I describe my most important teaching goals.
		</p>
		<ol class="numlist">
			<li>
				<b>Fun and Open Curriculum</b>
				I'm interested in designing curricula that is engaging and adaptitable for my students. For example, in my introductoary computing courses, I'll use simple games to teach programming concepts: e.g. MadLibs to teach variables, data types, and I/O; Text-based choose your own adventure games to teach I/O, if/else statements and program logic; prototype video game inventories to teach loops and data storage. I've found that my students learn and grasp concepts quicker and at a deeper understanding when they find value and excitement in what they are doing. I try to provide my students with curriculum that teaches concepts in innovative and fun ways.
			</li>
			<li>
				<b>"Meet the students where they're at"</b>
				Aliter homines, aliter philosophos loqui putas oportere? Sed nonne merninisti licere mihi ista probare, quae sunt a te dicta? Mihi vero, inquit, placet agi subtilius et, ut ipse dixisti, pressius. Cum audissem Antiochum, Brute, ut solebam, cum M. Sed ne, dum huic obsequor, vobis molestus sim.
			</li>
			<li>
				<b>Multi-modal and Mixed Media Learning</b>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quae quidem vel cum periculo est quaerenda vobis; Tu autem negas fortem esse quemquam posse, qui dolorem malum putet. Ita fit cum gravior, tum etiam splendidior oratio. Is es profecto tu. Duo Reges: constructio interrete. Cur deinde Metrodori liberos commendas? Sed eum qui audiebant, quoad poterant, defendebant sententiam suam. Nosti, credo, illud: Nemo pius est, qui pietatem-; Inscite autem medicinae et gubernationis ultimum cum ultimo sapientiae comparatur. Aliter homines, aliter philosophos loqui putas oportere?
			</li>
		</ol>
		<p>

		</p>
	</div>
	<div id="technologyphilosophy" class="inset">
		<h4>Technology Philosophy</h4>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quae quidem vel cum periculo est quaerenda vobis; Tu autem negas fortem esse quemquam posse, qui dolorem malum putet. Ita fit cum gravior, tum etiam splendidior oratio. Is es profecto tu. Duo Reges: constructio interrete. Cur deinde Metrodori liberos commendas? Sed eum qui audiebant, quoad poterant, defendebant sententiam suam. Nosti, credo, illud: Nemo pius est, qui pietatem-; Inscite autem medicinae et gubernationis ultimum cum ultimo sapientiae comparatur. Aliter homines, aliter philosophos loqui putas oportere?
		</p>
	</div>
	<div id="assessment" class="inset">
		<h4>Assessment</h4>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quae quidem vel cum periculo est quaerenda vobis; Tu autem negas fortem esse quemquam posse, qui dolorem malum putet. Ita fit cum gravior, tum etiam splendidior oratio. Is es profecto tu. Duo Reges: constructio interrete. Cur deinde Metrodori liberos commendas? Sed eum qui audiebant, quoad poterant, defendebant sententiam suam. Nosti, credo, illud: Nemo pius est, qui pietatem-; Inscite autem medicinae et gubernationis ultimum cum ultimo sapientiae comparatur. Aliter homines, aliter philosophos loqui putas oportere?
		</p>
	</div>
</section>
-->

<section>
	<div id="experience">
		<h3>Experience</h3>

		<div id="timeline">
			<div id="timeline-grid" data-size="18">

				<div class="timeline-header">
					<div class="timeline-label">
						<h4></h4>
					</div>
					<div class="timeline-graph">
						<span class="timeline-item" data-start="1" data-len ="2">2013</span>
						<span class="timeline-item" data-start="3" data-len ="3">2014</span>
						<span class="timeline-item" data-start="6" data-len ="3">2015</span>
						<span class="timeline-item" data-start="9" data-len ="3">2016</span>
						<span class="timeline-item" data-start="12" data-len ="3">2017</span>
						<span class="timeline-item" data-start="15" data-len ="3">2018</span>
						<span class="timeline-item" data-start="18" data-len ="1">2019</span>
					</div>
				</div>

				
				<div class="timeline-group">
					<div class="timeline-label">
						<h4>Outreach</h4>
					</div>
					<div class="timeline-graphs">
						<div class="timeline-graph">
							<span class="timeline-item" data-start="1" data-len ="7">GK-12</span>
							<span class="timeline-item" data-start="10" data-len ="1">SuperSTEM</span>
							<span class="timeline-item" data-start="16" data-len ="1">i3</span>
						</div>
					</div>
				</div>
				
				<div class="timeline-group">
					<div class="timeline-label">
						<h4>Instructor</h4>
					</div>
					<div class="timeline-graph">
						<span class="timeline-item" data-start="6" data-len ="1">CS1</span>
						<span class="timeline-item" data-start="7" data-len ="1">CS2</span>
						<span class="timeline-item" data-start="8" data-len ="1">CS1</span>
						<span class="timeline-item" data-start="9" data-len ="1">CS1</span>
						<span class="timeline-item" data-start="16" data-len ="1">CS1</span>
					</div>
				</div>
				
				<div class="timeline-group">
					<div class="timeline-label">
						<h4>Teaching Assistant (TA)</h4>
					</div>
					<div class="timeline-graph">
						<span class="timeline-item" data-start="3" data-len ="1">Intro ICT</span>
						<span class="timeline-item" data-start="5" data-len ="1">CS0</span>
						<span class="timeline-item" data-start="9" data-len ="1">CS Ed</span>
						<span class="timeline-item" data-start="11" data-len ="1">Intro Engr</span>
						<span class="timeline-item" data-start="17" data-len ="1">CS1</span>
					</div>
				</div>

			</div>
		</div>
		
		
		
		{% for section in site.data.pages.tea.sections %}
		
			{% include page_group.html %}

		{% endfor %}
		
		
		
		
	</div>
</section>

<!--<section>
	<div id="curriculum">
		<h3>Curriculum</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quae quidem vel cum periculo est quaerenda vobis; Tu autem negas fortem esse quemquam posse, qui dolorem malum putet. Ita fit cum gravior, tum etiam splendidior oratio. Is es profecto tu. Duo Reges: constructio interrete. Cur deinde Metrodori liberos commendas? Sed eum qui audiebant, quoad poterant, defendebant sententiam suam. Nosti, credo, illud: Nemo pius est, qui pietatem-; Inscite autem medicinae et gubernationis ultimum cum ultimo sapientiae comparatur. Aliter homines, aliter philosophos loqui putas oportere?
		</p>
	</div>
</section>-->
