{% if section.subsections %}
    {% for subsection in section.subsections %}
        <div class="cvSubSection">
            <h4>{{subsection.cvSubSectionTitle}}</h4>
            {% for position in site.data.positions %}
            	{% if subsection.cvSubSectionKey == position.flags.cvSubSectionKey %}
                    {% include cv_position.html %}
            	{% endif %}
            {% endfor %}
        </div>
    {% endfor %}
{% else %}
    {% for position in site.data.positions %}
    	{% if (section.cvSectionKey == position.flags.cvSectionKey) or (section.cvSectionKey == "workhistory" and position.flags.cvWorkHistory) %}
        	{% include cv_position.html %}
    	{% endif %}
    {% endfor %}
{% endif %}
	
