<div class="cvPosition">
    
    <div class="role">
        <h5>{{ position.role }}</h5>
    </div>

    <div class="date">
        <p>
        	{% if (position.dateFormat == "range") or (section.cvSectionKey == "workhistory") %}
        		{{ position.dateStart | date: "%Y" }}
                &ndash;
                {{ position.dateEnd | date: "%Y" }}
            {% elsif position.dateFormat == "end" %}
                {{ position.dateEnd | date: "%Y" }}
            {% elsif position.dateFormat == "text" %}
                {{ position.date }}
        	{% else %}
        		{{ position.date }}
        	{% endif %}
        </p>
    </div>
    
    {% if position.organization %}
        <div class="org">
    		<p>{{ position.organization }}</p>
        </div>
    {% endif %}
    
    {% if section.cvSectionKey != "workhistory" %}
        <div class="details">
        	{% if position.descriptionHTML %}
                <div class="description">
                    {{ position.descriptionHTML }}
                    {% if position.responsibilitiesHTML %}
                        {{ position.responsibilitiesHTML }}
                    {% endif %}
                    {% if position.extraHTML %}
                        {{ position.extraHTML }}
                    {% endif %}
                </div>
        	{% endif %}
        	
        	{% if position.miscHTML %}
        		<div class="misc">
        			{{ position.miscHTML }}
        		</div>
        	{% endif %}
            
            {% if position.workKeys %}
        		<div class="works">
                    {% for positionWork in position.workKeys %}
                        {% for workData in site.data.works %}
                            {% if positionWork.workKey == workData.workKey %}
                                <div class="work">
                                    <p class="workRef">
                                        {{ workData.referenceLink }}
                                    </p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        	
        </div>
    {% endif %}
        
</div>