<div class="cvPosition">
    <div class="role">
        <h5>{{ position.role }}</h5>
    </div>

    <div class="date">
        <p>
        	{% if (position.dateFormat == "range") or (section.cvSectionKey == "workhistory") %}
        		{{ position.dateStart | date: "%Y" }}
                &ndash;
                {{ position.dateEnd | date: "%Y" }}
            {% elsif position.dateFormat == "end" %}
                {{ position.dateEnd | date: "%Y" }}
            {% elsif position.dateFormat == "text" %}
                {{ position.date }}
        	{% else %}
        		{{ position.date }}
        	{% endif %}
        </p>
    </div>
    
    {% if position.org %}
        <div class="org">
    		<p>{{ position.org }}</p>
        </div>
    {% endif %}
    
    {% if section.cvSectionKey != "workhistory" %}
        <div class="details">
        	{% if position.description %}
        		<p class="description">{{ position.description }}</p>
        	{% endif %}
        	
        	{% if position.misc %}
        		<div class="misc">
        			{{ position.misc }}
        		</div>
        	{% endif %}
            
            {% if position.works %}
        		<div class="works">
                    {% for positionWork in position.works %}
                        {% for workData in site.data.works %}
                            {% if positionWork.workKey == workData.workKey %}
                                <div class="work">
                                    <p class="workRef">
                                        {{ workData.referenceLink }}
                                    </p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        	
        	{% if position.classes %}
        		<div class="classes">
        			{% for classType in position.classes %}
        				<h5>{{classType.type}}</h5>
        				<ul>
        				{% for course in classType.courses %}
        					<li>
        						<h6>{{ course.title }}</h6>
        						<div class="details">
        							<span>
        								{{ course.role }} &ndash; {{ course.time }} 
        							</span>
        							{% if course.materials-syllabuspdf %}
        								<span class="link-btn small">
        									<a download href="{{ course.materials-syllabuspdf }}" target="_blank"><span class="fa fa-file-pdf"></span>Syllabus PDF</a>
        								</span>
        							{% endif %}
        						</div>
        					</li>
        				{% endfor %}
        				</ul>
        			{% endfor %}
        		</div>
        	{% endif %}
        	
        </div>
    {% endif %}
        
</div>