<!-- Meta Info -->
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="author" content="Brittany Ann Kos" />

<!-- Descriptions, Labels -->
<title>{{ page.title }}</title>
<meta name="description" content="Brittany Ann Kos, PhD. Experienced researcher with a demonstrated history of working in education and outreach. Skilled in Computer Science Education, Leadership, Diversity and Inclusion, Informal Education, and Program Evaluation." />
<meta name="keywords" content="stem, computing, computer science, education, research, evaluation, diversity, inclusion, women, gender" />
<link rel="icon" type="image/x-icon" href="assets/images/favicon.ico" />

<!-- Custom Fonts -->
<!-- <link href="plugins/font-awesome/css/all.min.css" rel="stylesheet" type="text/css">-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<!-- CSS -->
<link href="assets/css/styles.css" rel="stylesheet" type="text/css" media="all">
