
<!--<section id="one" class="special">
	<ul>
		<li><a href="index.html">About</a></li>
		<li class="active"><a href="teachingoutreach.html">Teaching &amp; Outreach</a></li>
		<li><a href="educationalreasearch.html">Educational Research</a></li>
		<li><a href="resume.html">Resume</a></li>
		<li><a href="contact.html">Contact</a></li>
	</ul>
</section>-->
<section id="two" class="special">
	<ul>
		<li>
			<a href="http://www.linkedin.com/in/brittanyannkos" target="_blank">
				<i class="fab fa-linkedin-in"></i>
			</a>
		</li>
		<li>
			<a href="http://medium.com/@koscida/" target="_blank">
				<i class="fab fa-medium-m"></i>
			</a>
		</li>
		<!--<li>
			<a href="http://github.com/koscida/" target="_blank">
				<i class="fab fa-github"></i>
			</a>
		</li>
		<li>
			<a href="https://twitter.com/Koscida" target="_blank">
				<i class="fab fa-twitter"></i>
			</a>
		</li>-->
		<li>
			<a href="https://www.instagram.com/koscida/" target="_blank">
				<i class="fab fa-instagram"></i>
			</a>
		</li>
		<li>
			<a id="footeremail" href="" target="_blank">
				<i class="fas fa-envelope"></i>
			</a>
		</li>
	</ul>
</section>
<section id="three" class="dark">
	<div id="copyright">
		<p>
			2019 &copy; Brittany Ann Kos
		</p>
	</div>
</section>
