<div class="group close">
	<div class="group-header">
		<div class="toggleBtns">
			<span class="group-btn-close far fa-caret-square-down"></span>
			<span class="group-btn-open far fa-caret-square-up"></span>
		</div>
		<h4>{{ section.title }}</h4>
	</div>
	<div class="group-content">
		<ul class="positions remove-list-styles">
			
			{% for position in site.data.positions.positions %}
				{% for pageflag in position.flags.pages %}
					{% if pageflag.section == section.key %}
						<li class="position">
							{% include page_position.html %}
						</li>
					{% endif %}
				{% endfor %}
			{% endfor %}
			
		</ul>
	</div>
</div>
