<section id="sm" class="wide">
    <div class="wrapper">
    	<ul>
    		<li>
    			<a href="http://www.linkedin.com/in/brittanyannkos" target="_blank">
    				<i class="fab fa-linkedin-in"></i>
    			</a>
    		</li>
    		<li>
    			<a href="http://medium.com/@koscida/" target="_blank">
    				<i class="fab fa-medium-m"></i>
    			</a>
    		</li>
    		<!--<li>
    			<a href="http://github.com/koscida/" target="_blank">
    				<i class="fab fa-github"></i>
    			</a>
    		</li>
    		<li>
    			<a href="https://twitter.com/Koscida" target="_blank">
    				<i class="fab fa-twitter"></i>
    			</a>
    		</li>-->
    		<li>
    			<a href="https://www.instagram.com/koscida/" target="_blank">
    				<i class="fab fa-instagram"></i>
    			</a>
    		</li>
    		<li>
    			<a id="footeremail" href="" target="_blank">
    				<i class="fas fa-envelope"></i>
    			</a>
    		</li>
    	</ul>
    </div>
</section>
<section id="copyright" class="wide">
	<div class="wrapper">
		<p>
			2020 &copy; Brittany Ann Kos
		</p>
	</div>
</section>
