<section class="wide">
    <div class="wrapper">
    	<div id="headerTitle">
    		<h1><a href="index">Brittany Ann Kos</a></h1>
    		<p>Education, Research, Development</p>
    	</div>
        
        <nav class="close">
        	<div id="navButton">
    			<button type="button" id="navClose"><span class="fas fa-times"></span></button>
    			<button type="button" id="navOpen"><span class="fas fa-bars"></span></button>
        	</div>
        	<div id="navLinks" class="light">
        		<ul>
        			{% for item in site.data.navigation %}
        			<li>
        				<a href="{{ item.link }}" {% if page.url == item.link %}class="active"{% endif %}>{{ item.name }}</a>
        			</li>
        			{% endfor %}
        		</ul>
        	</div>
        </nav>
    </div>
</section>


