<div class="pagePosition">
    
    {% if position.thumbnailpath %}
    	<div class="image">
    		<img src="{{ position.thumbnailpath }}" alt="{{ position.thumbnailalt }}"/>
    	</div>
    {% endif %}

    <div class="details">
        
    	<h4>{{ position.role }}</h4>
        
    	{% if position.organization %}
    		<div class="org">
                <p>{{ position.organization }}</p>
            </div>
    	{% endif %}
        
    	{% if position.descriptionHTML %}
    		<div class="description">
                {{ position.descriptionHTML }}
                {% if position.responsibilitiesHTML %}
                    {{ position.responsibilitiesHTML }}
                {% endif %}
                {% if position.extraHTML %}
                    {{ position.extraHTML }}
                {% endif %}
            </div>
    	{% endif %}
    	
    	{% if position.siteURL or position.syllabusURL %}
    		<div class="materials right">
    			<div class="link-btn medium">
    				<ul>
    					
    					{% if position.siteURL %}
    						<li>
    							<a download href="{{ position.siteURL }}" target="_blank"><span class="fa fa-external-link-alt"></span>{{ position.siteURLText}}</a>
    						</li>
    					{% endif %}
    					
    					{% if position.syllabusURL %}
    						<li>
    							<a download href="{{ position.syllabusURL }}" target="_blank"><span class="fa fa-file-pdf"></span>Syllabus PDF</a>
    						</li>
    					{% endif %}
    					
    				</ul>
    			</div>
    		</div>
    	{% endif %}
    	
        {% if position.workKeys %}
            <div class="works">
                {% for positionWork in position.workKeys %}
                    {% for workData in site.data.works %}
                        {% if positionWork.workKey == workData.workKey %}
                            <div class="work">
                                <p class="workRef">
                                    {{ workData.referenceLink }}
                                </p>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        
        {% if position.miscHTML %}
        	<div class="misc">
        		{{ position.miscHTML }}
        	</div>
        {% endif %}
        
    </div>
    
</div>