<!-- Meta Info -->
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="author" content="Brittany Ann Kos" />

<!-- Descriptions, Labels -->
<title>{{ page.title }}</title>
<meta name="description" content="Brittany Ann Kos, PhD. Experienced and self-motivated coordinator and researcher. History of working in outreach and education, with a strong focus on diversity and inclusion work. Skilled in social science and data science analytical techniques, program evaluation and development, and informal education." />
<meta name="keywords" content="stem, computing, computer science, education, program, project, research, development, evaluation, management, coordination, diversity, inclusion, women, gender" />
<link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico" />

<!-- Custom Fonts -->
<!-- <link href="plugins/font-awesome/css/all.min.css" rel="stylesheet" type="text/css">-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:300,300i,400,700&display=swap" rel="stylesheet">

<!-- CSS -->
<link href="../assets/css/printable_resume.css" rel="stylesheet" type="text/css" media="all">
