:root {
	--background-color: #efeef9;
	--card-color: #f6f8ff;
	--text-color: #222;
	--shadow-color: #ccc;
	--purple: #6d56b8;
	--pink: #c3407c;
}
@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #2D2B30;
		--card-color: #38363C;
		--text-color: #fff;
		--shadow-color: #111;
	}
}
@media (prefers-color-scheme: light) {
	:root {
		--background-color: #efeef9;
		--card-color: #f6f8ff;
		--text-color: #222;
		--shadow-color: #ccc;
	}
}



* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Ubuntu', ariel, helvetica, sans-serif;
	background: var(--background-color);
	color: var(--text-color);
}

.body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.wrapper {
	width: 96%;
	background: var(--card-color);
	margin: 20px 2%;
	padding: 50px 30px;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 40% 60%;
	grid-gap: 5px;
	box-shadow: 1px 1px 5px var(--shadow-color);
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
}

section > div {
	width: 100%;
	margin: 0;
	text-align: center;
}

section.bio {
	align-items: start;
}

.headshot div img {
	width: 100%;
	max-width: 200px;
	border-radius: 50%;
	border: 6px solid var(--purple);
	padding: 5px;
}


h1 {
	font-size: 2em;
	line-height: 1.5em;
	margin: 0.3em 0;
	font-weight: 700;
}

h2 {
	font-size: 1.3em;
	line-height: 1.5em;
	margin: 0.7em 0;
	font-family: 'PT Mono';
}

p {
	margin: 0.7em 0;
}

a {
	color: var(--pink);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

@media (min-width: 769px) {
	.wrapper {
		width: 80%;
		max-width: 900px;
		margin: 50px 10%;
		padding: 70px 50px;
		grid-template-columns: 50% 50%;
		grid-template-rows: 100%;
		grid-gap: 10px;
	}

	section.bio {
		align-items: center;
	}
	section.bio div {
		text-align: left;
	}
	section.headshot div {
		width: 70%;
		margin: 0 10%;
	}
	.headshot div img {
		max-width: 300px;
	}
}

@media (min-width: 1000px) {
	.wrapper {
		width: 900px;
		margin: 50px auto;
		grid-gap: 20px;
	}
}



.headshot div img {
	animation: pulse 10s infinite;
}

@keyframes pulse {
	0% {
		border-color: var(--purple);
	}
	50% {
		border-color: var(--pink);
	}
	100% {
		border-color: var(--purple);
	}
}



#text {
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 2px;
	height: 1.5em;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 2px;
	height: 1.5em;
	margin-left: 1px;
	animation: blink 0.5s step-end infinite;
}

@keyframes blink {
	from, to {
		background-color: transparent;
	}
	50% {
		background-color: var(--text-color);
	}
}